<%- include partials/header.ejs%>



<%- include partials/main_nav.ejs%>

  <div class="container mt-3 mb-5">
  <div class="row">
    <div class="col">
      <div>
      <img src="\Assets\images\picture.jpg" alt="" width="250" height="250" class="img-thumbnail">
      </div>
    </div>
    
    <div class="col-7">
      <div>
        <h3></h3>
        <h3></h3>
        <h3>
            Aashi Sinha
        </h3>
        <ul>
          <li>Current Advanced Diploma Student in Software Engineering at Centennial College, Toronto, Canada.</li>
          <li>Hello Everyone! I am Aashi Sinha. I'm a 24-year-old Indian master's student from Ranchi, India
            and currently residing in Toronto, Canada.</li>
          <li>My current focuses are to strengthen my knowledge about web programming and
            game development, which is my second interest.</li>
          <li>I am an animal loving person and I am very happy to be working on my first portfolio website!</li>
        </ul>
        <a class="btn btn-primary" href="\Assets\documents\AASHI SINHA RESUME.pdf" target="_blank" role="button">This is the link to my resume.</a>
      </div>
    </div>
  </div>
</div>

  
  

  
<%- include partials/bottom_nav.ejs%>
  
<%- include partials/footer.ejs%>
