

<%- include partials/header.ejs%>



<%- include partials/main_nav.ejs%>

  
  <div class="container row p-3 px-md-5">
  
    <div class="card text-white bg-info mb-3 col" style="max-width: 20rem;">
        <div class="card-header">Contact Info: Interested in having a chat? Feel free to shoot me message anytime on:</div>
        <div class="card-body">
            <p class="card-text">+91 8967455208</p>
            <p class="card-text"><a href="https://github.com/aashisinha">GitHub</a> if you want to follow me there!</p>
            <p class="card-text"><small>For business inquries, please feel free to
              send me an e-mail at <mark><a class=""
                      href="mailto:asinha10@my.centennialcollege.ca">asinha10@my.centennialcollege.ca</a></mark></small></p>
            <p class="card-text">Toronto, Canada</p>
            
        </div>
    </div>

    <div class="col-7"> If at all I am unreachable at given contacts, please feel free to leave a message!
      <form>
        <div class="col">

          <div class="row">
            <div class="col">
              <label for="fname">First Name</label>
            </div>

            <div class="col-8">
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
            </div>          
          </div>

          <div class="row">

            <div class="col">
              <label for="lname">Last Name</label>
            </div>
            <div class="col-8">
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            </div>          
          </div>

          <div class="row">
            <div class="col">
              <label for="fname">Contact Number</label>
            </div>

            <div class="col-8">
              <input type="text" id="fname" name="firstname" placeholder="Your contact number..">
            </div>          
          </div>

          <div class="row">
            <div class="col">
              <label for="fname">Email Address</label>
            </div>

            <div class="col-8">
              <input type="text" id="fname" name="firstname" placeholder="Your email address..">
            </div>          
          </div>

          <div class="row">
            <div class="col">
              <label for="subject">Message</label>
            </div>
            <div class="col-8">
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
            </div>
          
          </div>
        
        

          <div class="row">
            <div class="col">
            </div>
          
            <div class="col-8">
              <input type="submit" value="Submit">
            </div>
          
          </div>
    
        </div>
      </form>

      
      

    </div>
  </div>
</div>

  
  

  
<%- include partials/bottom_nav.ejs%>
  
<%- include partials/footer.ejs%>
