<%- include partials/header.ejs%>



<%- include partials/main_nav.ejs%>

  <div class="container mt-3 mb-5">

    <div class="row border border-primary p-2">

      <div class="col-4">
        <img src="\Assets\images\project1.png" alt="" width="350" height="300" style="border:5px solid black">
      </div> 

      <div class="col">
        <h3>Data Modelling</h3>
        <ul>
          <li>Liaised between 3 people to create a dashboard data portal for data analytics. </li>
          <li>It focused on datasets in a Geospatial segment of a city. </li>
          <li>Supported data gathering and statistical analysis of data using JavaScript for the web page. </li>
          <li>Also, used OOPs concept for system design and data modeling.</li>
          <li>Simulated workflows and performed black-box and white-box testing for verification.</li>
        </ul>
      </div>

    </div>

    <div class="row border border-primary p-2">
      <div class="col-4"><img src="\Assets\images\project2.jpg" alt="" width="350" height="300" style="border:5px solid black">
      </div>
      <div class="col">
        <h3>Software Project Management</h3>
        <ul>
          <li>This was an individual project carried out in my semester. </li>
          <li>Performed a comparative analysis of the software product line architecture, libraries and technologies for web-based applications.</li>
          <li>Developed a successful project plan and work breakdown structure with the required phases and activities to complete the project. </li>
          <li>Managed all the internal scrum boards.</li>
          <li>Prepared the documentation with forecasts and estimates with key scrum metrics to determine project timeline using Microsoft Project Professional.</li>
        </ul>
      </div>
    </div>

    <div class="row border border-primary p-2">
      <div class="col-4"><img src="\Assets\images\project3.jpg" alt="" width="350" height="300" style="border:5px solid black">
      </div>
      <div class="col">
        <h3>Steganography</h3>
        <ul>
          <li>Created a desktop application in an individual minor project for hiding information in digital media like an image using ASP.NET and C#.</li>
          <li>Used the Least Significant Bit technique where the information is stored in the first bit of every pixel’s RGB component of the image.</li>
        </ul>
      </div>
    </div>

    <div class="row p-2">
      <div class="col-4"></div>
      <div class="col">
        <p></p>
      </div>
    </div>

    

  </div>
</div>

  
  

  
<%- include partials/bottom_nav.ejs%>
  
<%- include partials/footer.ejs%>
