<%- include partials/header.ejs%>



<%- include partials/main_nav.ejs%>

<div class="container mt-3 mb-5">

    <div class="row border border-primary p-2">

      <div class="col-4">
        <img src="\Assets\images\services1.jpg" alt="" width="350" height="300" style="border:5px solid black">
      </div> 

      <div class="col">
        <h5>Android Mobile Application Development using Android Studio</h5>       
      </div>

    </div>

    <div class="row border border-primary p-2">
      <div class="col-4"><img src="\Assets\images\project2.jpg" alt="" width="350" height="300" style="border:5px solid black">
      </div>
      <div class="col">
        <h5>Mathematics</h5>     
      </div>
    </div>

    <div class="row border border-primary p-2">
      <div class="col-4"><img src="\Assets\images\project3.jpg" alt="" width="350" height="300" style="border:5px solid black">
      </div>
      <div class="col">
        <h5>Solving Problems with Data Structures and Algorithms</h5>   
      </div>
    </div>

    <div class="row p-2">
      <div class="col-4"></div>
      <div class="col">
        <p></p>
      </div>
    </div>

    

  </div>
</div>

<%- include partials/bottom_nav.ejs%>
  
<%- include partials/footer.ejs%>